<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Vue Day01 computed</title>
</head>
<body>
    <!-- demo 0 -->
    <div id="demo-0">
        <p>Original message: '{{ message }}'</p>
        <p>Computed reserved message: '{{ reservedMessage }}'</p>
    </div>

    <!-- demo 1 -->
    <hr>
    <div id="demo-1">
        <p>{{ fullName }}</p>
    </div>

    <script src="../lib/vue/vue.js"></script>
    <script src="../assets/js/day01.js"></script>
</body>
</html>